<div th:fragment="navigation-bar">

	<!-- Navigation bar -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" th:href="@{/amics}" 
			   style="font-family: 'Bebas Neue', cursive; font-size: 30px; font-weight: bold; color: #198754;">AMICS</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
					aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" th:href="@{/amics}">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/amics/catalogue}">Catalogue</a>
					</li>
				</ul>
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/amics/users/list}">Users</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/amics/users/profile}">Profile</a>
					</li>
					<li class="nav-item ">
						<form th:action="@{/logout}" method="POST">
							<input type="submit" value="Logout" class="btn btn-outline-secondary"/>
						</form>	
					</li>
				</ul>
			</div>
		</div>
	</nav>
	
</div>