.thumbnail-size {width: 255px; height: 186px; overflow: hidden; margin: auto;}
.textarea {resize: none;}
.table-font-size {font-size: 14px;}
.image-size {width: 144px; height: 105px; overflow: hidden; margin: auto;}